<h1>Ironhack Cinema</h1>
<p>Click on the movie to check the showtimes!</p>

{{#each this.movie}}
    <img src="{{this.image}}" />
    <strong>{{this.title}}</strong>
    <a href="/movie/{{this._id}}">See more</a>
{{/each}}